.git
.vscode
data
doc
docker
log
mongo
scripts
spec
vendor

bin/?curl
bin/build.sh
bin/domains
bin/mg.sh
bin/test.sh
bin/web.sh

.dockerignore
.gitignore
.rspec
docker-*
lightsail*
Procfile
README.md
